@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.background-layout {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(164deg, 
    #d67c6c 0%,
    #8b4c7f 15%,
    #553669 30%,
    #000000 95%,
    #000000 100%
  );
  display: flex;
  flex-direction: column;
}

.background-layout-two {
  background: #111217;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

.welcome-message {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  font-size: 80px;
  max-width: 100vw;
  max-height: 100vh;
  background: linear-gradient(90deg, #ff9900, #7e2eff, #ff9900);
  background-size: 200% 100%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: fadeIn 1.5s ease-in-out forwards, fadeOut 1.5s ease-in-out forwards;
  animation-delay: 0s, 1.5s;  

  animation-name: fadeIn, fadeOut, moveGradient;
  animation-duration: 1.5s, 1.5s, 3s;
  animation-delay: 0s, 1.5s, 0s;
  animation-timing-function: ease-in-out, ease-in-out, linear;
  animation-fill-mode: forwards, forwards, infinite;
}

.page-content {
  flex: 1;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0s;
  margin-top: 40px;
  padding: 10px 30px;
}

.page-card {
  --padding-x: 10px; /* default horizontal padding */
  --padding-y: 10px; /* default vertical padding */
  background-color: #181b1f;
  padding: var(--padding-y) var(--padding-x); /* padding: vertical horizontal */
  box-shadow: 0px 0px 3px 0px gray;
  border: none;
}

.gradient-spinner {
  width: 3rem;
  height: 3rem;
  border: 4px solid rgb(221, 221, 221, 0.5); 
  border-top: 4px solid #ff9900; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}